body{
    background-color: black;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
}

button{
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 7px;
}